.request-screen-text::before {
  background-image: url("../../assets/decorThreeForRequestScreen.svg");
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 121px;
  left: 262px;
  height: 108px;
  margin-top: 4px;
}

.request-screen-media::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../../assets/decorOneForRequestScreen.svg");
  width: 700px;
  height: 659px;
  right: 317px;
}
.request-screen-media::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../../assets/decorTwoForRequestScreen.svg");
  width: 418px;
  height: 700px;
  margin-top: 401px;
  right: 58px;
}

.request-screen {
  margin-top: 100px;
  margin-left: 70px;
}

.request-screen-main {
  display: flex;
}

.request-screen-img {
  position: relative;
  top: 297px;
  left: 61px;
}

.request-screen-title {
  color: #f73259;
  font-size: 36px;
  font-weight: 500;
  display: inline;
  top: 129px;
  left: 185px;
  position: relative;
}

.request-screen-item {
  list-style: none;
  margin-top: 20px;
}

.request-screen-text {
  margin-right: 20px;
  color: #9a9a9a;
  font-size: 16px;
}

.request-screen-list {
  margin-top: 163px;
  margin-left: 223px;
}

@media (max-width: 1200px) {
  .request-screen-list {
    margin-top: 163px;
    margin-left: 78px;
  }

  .request-screen-text::before {
    left: 125px;
  }

  .request-screen-title {
    color: #f73259;
    font-size: 36px;
    font-weight: 500;
    display: inline;
    top: 129px;
    left: 51px;
    position: relative;
  }
}
@media (max-width: 992px) {
  .request-screen-img {
    position: relative;
    top: 297px;
    left: 61px;
    width: 379px;
  }
  .request-screen-title {
    color: #f73259;
    font-size: 30px;
    font-weight: 500;
    display: inline;
    top: 129px;
    left: 51px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .request-screen-main {
    display: block;
  }

  .request-screen-img {
    position: relative;
    top: 172px;
    left: 64px;
    width: 416px;
  }
}
@media (max-width: 576px) {
  .request-screen-img {
    position: relative;
    top: 54px;
    left: -43px;
    width: 385px;
  }
  .request-screen {
    margin-top: -239px;
    margin-left: 75px;
  }
  .request-screen-text::before {
    left: 40px;
  }
  .request-screen-list {
    margin-top: 163px;
    margin-left: 9px;
  }

  .request-screen-title {
    color: #f73259;
    font-size: 30px;
    font-weight: 500;
    display: inline;
    top: 129px;
    left: -34px;
    position: relative;
  }
  .request-screen-media::before {
    width: 712px;
    height: 659px;
    right: 141px;
    margin-top: -644px;
  }
  .request-screen-media::after {
    width: 418px;
    height: 700px;
    margin-top: -405px;
    right: -215px;
  }
}
