* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #f92f60;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
